body{
    margin: 0;
    padding: 0; 
}
.landing{
    background-image: url(./images/landing.jpg);
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    font-size: 35px;
    
}
.container{
    display: inline-block;
    cursor: pointer;
}
.bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.logo{
    align-items: center;
    text-align: center;
}
.p-2{
    background-color: white;
    color: orangered;
}
.p-2{
    background-color: orangered;
    color: white;
}
.happy{
    display: flex;
    width: 100%;
    font-size: 30px;

}
.space{
    width: 30%;
    height: 25vh;
}
.block{
    display: flex;
    justify-content: center;
    text-align: center;
}
.lock{
    color: white;
   
}
.back-1{
    height: 50px;
}
.back-2{
    background-image: url(images/breakfast.jpg);
    
}
.back-3{
    background-image: url(/images/lunch.jpg);
}
.back-4{
    background-image:url(images/dinner2.jpg) ;
}

.rice{
    display: flex;
    text-align: start;
    color: white;
}
.chick{
    justify-content: center;
}
.food{
    height: 100mv;
    background-image: url(images/foodsBg.jpg);
}
.contacts{
    background-image: url(images/subscribe.jpg);
    height: 150px;
    text-align: center;
    color: white;
    
    
}
.logo-1{
    background-color: #f15a29;
    text-align: center;
    color: white;
}
.food{
    padding: 100px;
    background-image: url(./images/foodsBg.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.chick{
    align-items: center;
    text-align: center;
    padding: 20px ;
}
.food-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.img{
    padding: 20px;
    font-size: 20px;
    color: orangered;
}
.chick{
    display: flex;
    background-color: white;
}
.btn{
    width: 25%;
    color: gray;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(219, 219, 219);
}
.btn:hover{
    color: orangered;
    background: white;
}
.cool{
    background-color: #f15a29;

}











