.body {
    margin: 0px;
    padding: 0px;
}

.landing {
    background-image: url(./images/landing.jpg);
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    font-size: 20px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.logo {
    align-items: center;
    text-align: center;
}

.p-1 {
    background-color: white;
    color: black;
}

.p-2 {
    background-color: #f15a29;
    color: white;
}

.happy {
    display: flex;
    width: 100%;
    font-size: 16.9px;
}

.space {
    width: 30%;
    height: 25vh;
}

.block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.lock {
    color: white;
}

.back-1 {
    height: 50px;
}

.back-2 {
    background-image: url(images/breakfast.jpg);
    justify-content: center;
    align-items: center;
}

.back-3 {
    background-image: url(/images/lunch.jpg);
    justify-content: center;
    align-items: center;
}

.back-4 {
    background-image: url(images/dinner2.jpg);
    justify-content: center;
    align-items: center;
}

.all {
    height: 50%;
    margin: 5px;
    padding: 2%;
}

.elite {
    height: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%
}

.only-1 {
    padding: 2px;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px gray, 3px 3px 5px gray;
    width: 80%;
}

.trust {
    margin: 5px;
    margin-left: 20px;
    width: 50%;
}

.moon {
    padding: 10px 2px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around
}

.moontable {
    padding: 5px;
    border: 2px solid red;
   
}

.rice {
    display: flex;
    text-align: start;
    color: white;
}

.chick {
    justify-content: center;
}

.food {
    height: 100mv;
    background-image: url(images/foodsBg.jpg);
    background-size: 100% 100%;
}

.contacts {
    background-image: url(images/subscribe.jpg);
    height: 150px;
    text-align: center;
    color: white;
}

.logo-1 {
    background-color: #f15a29;
    text-align: center;
    color: white;
}

.food {
    padding: 20px;
    background-image: url(./images/foodsBg.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.chick {
    align-items: center;
    text-align: center;
   
}

.food-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.img {
    font-size: 10px;
    color: #f15a29
      
}

.chick {
    display: flex;
    background-color: white;
    padding: 10px;
}

.btn {
    width: 30%;
    color: gray;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

.btn:hover {
    color: #f15a29;
    background: white;
   
}


.cool {
    background-color: #f15a29;
}

.fast {
    float: right;
}

.people {
    display: flex;
    margin: 20px;
    box-shadow: 3px 3px 5px gray, 3px 3px 5px gray;
}

.about {
    width: 50%;
}

.person {
    width: 50%;
}

.customer {
    padding: 0px 30px;
    image-orientation: from-image;
}

.our {
    color: #f15a29;
}

.blue {
    color: #f15a29;
}

.strong {
    color: #f15a29;
}

.strong2 {
    color: #f15a29;
}

.fast {
    display: flex;
    height: 200px;
    margin: 20px;
}

.mine {
    display: flex;
    height: 200px;
    margin: 20px;
}

.hope1 {
    width: 50%;
}

.trust {
    float: left;
    border-right: 10px;
}

.table {
    display: flex;
    margin: 20px;
    box-shadow: 3px 3px 5px gray, 3px 3px 5px gray;
}

.strong2 {
    color: #f15a29;
}
.mmm{
    color: #f15a29;
}
.uu{
    color: #f15a29;
}